<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Update Post</title>
    <link rel="icon" type="image/png" href="/static/img/shipit.png">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>

<body>

    <div class="container" style="margin-top: 4rem;">
        <div class="row">
            <div class="col-md-10 col-lg-6 mx-auto">
                <h3>Are you sure you want to delete {{post.title}}?</h3>
                <div style="display: flex; margin-top: 4rem;">
                    <form action="/delete-post/{{post.slug}}" method="POST" style="margin-right: 4rem;">
                        <input type="submit" value="Yes" class="btn btn-danger">
                    </form>
                    <a href="/blog" class="btn btn-primary">No</a>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>