{% extends 'base.html' %}

{% block title %}Blog Post{% endblock title %}


{% block content %}
    <header class="masthead" style="background: url(&quot;/static/img/bryan-goff-f7YQo-eYHdM-unsplash.jpg&quot;);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1><strong>{{post.title}}</strong></h1><span class="subheading">{{post.created_at.strftime('%Y-%m-%d %H:%M')}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <img class="img-fluid" src="/{{post.image_path}}">
                    {{post.text|safe}}
                </div>
            </div>
        </div>
    </article>
{% endblock content %}